<!-- Main Content -->
<div class="row">
    <div class="col">
        <br>
        <div class="jumbotron" id="contentArea">
            <div class="container"></div>
                <h1 class="display-4">About me!</h1>
                <br>
                <p><img src="http://localhost:3000/images/jack1.jpg" class="rounded float-left" alt="Jack Ingram" style="width:230px;height:230px;margin-right:15px;"> <br>Currently I am enrolled at <a href="https://durhamcollege.ca/">Durham College</a> in the 
                    <a href="https://durhamcollege.ca/programs/computer-programming-analyst-three-year">Computer Programmer Analyst</a>
                     program. As of right now I am finishing my second year out of three for this program. I am excited to learn more and 
                    very eager to develop my experiences in the coming year.</p>
                
                <p>I have experience with many languages, and hopefully will add many more to 
                my list in the near future. Some of the languages I have worked with include C#, C++, Java, 
                COBOL, PHP, VB, HTML, JavaScript, SQL and more to come!</p>

                <p>In addition to learning languages during my education I have also improved my critical thinking greatly and 
                 became familiar with plenty of softwares related to programming and Information Technology. </p>

                 <br>
                 <h3 align="center">If you have any questions or want to know more you can email me at <a href="">jackingram1313@gmail.com</a></h4>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
          </div>
                
    </div>
</div>

    