<!-- Main Content -->
<div class="row">
    <div class="col">
        <br>
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my website! <img src="http://localhost:3000/images/logoIcon.png" alt="Jack Ingram" class="rounded float-right"></h1>
                <br>
                <h4>Take a look around, many of my projects and other information are listed on this website!</h4>
                <p>My mission is to always be learning. Information Technology is infinitely expanding, every day more efficienct ways to do things are being discovered and it is my goal to keep on top of the fields latest and greatest discoveries. All in all I aim to continue learning new technologies as my career continues.</p>
            
                <div class="wrapper">
                    <button type="button" class="btn btn-info" id="aboutButton"><a href="/about" class="btn btn-info">About me</a></button>
                </div>
                
            </div>

            
           
    </div>
</div>
