<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my website!</h1>

                <br>

                <h4>Take a look around, many of my projects and other information is listed on this website!</h4>

                <p>My mission is to always be learning. Information Technology is infinitely expanding, every day more efficienct ways to do things are being discovered and it is my goal to keep on top of the fields latest and greatest discoveries. All in all I aim to continue learning new technologies as my career continues.</p>
                
                <div id="progressBar"></div>
                <button type="button" class="btn btn-primary" id="aboutButton">About me</button>
            </div>
    </div>
</div>
