<!-- Main Content -->
<div class="row">
    <div class="col">
       <!-- Jumbotron container -->
          <div class="jumbotron" id="contentArea">
            <!-- Page Content -->
              <h1 class="display-4">My Services!</h1>
        <!-- This page uses basic "Card" objects made with bootstrap to creat a clean content section for my services-->
              <div class="card-deck">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="./images/programmer.jpg" style="height:150px;object-fit: fill;">
                  <div class="card-body">
                    <h5 class="card-title">General Programming</h5>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="./images/webdev.jpg" style="height:150px;object-fit: fill;">
                  <div class="card-body">
                    <h5 class="card-title">Web Development</h5>
                  </div>
                </div>
    
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="./images/it.jpg" style="height:150px;object-fit: fill;">
                  <div class="card-body">
                    <h5 class="card-title">Technology Help</h5>
                  </div>
                </div>
    
              </div>

          </div>
    </div>
</div>

