<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="jumbotron" id="contentArea">
            <h1 class="display-4">My Services!</h1>

            <div class="card-deck">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://localhost:3000/images/programmer.jpg" style="height:150px;object-fit: fill;">
              <div class="card-body">
                <h5 class="card-title">General Programming</h5>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://localhost:3000/images/durak.png" style="height:150px;object-fit: fill;">
              <div class="card-body">
                <h5 class="card-title">Web Development</h5>
              </div>
            </div>

            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://localhost:3000/images/ingramColleges.png" style="height:150px;object-fit: fill;">
              <div class="card-body">
                <h5 class="card-title">Technology Help</h5>
              </div>
            </div>

          </div>
        </div>
        </div>
    </div>
</div>

