<!-- Main Content -->
<div class="row">
    <div class="col">
       <!-- Jumbotron container -->
          <div class="jumbotron" id="contentArea">
            <!-- Page Content -->
              <h1 class="display-4">My Awesome Projects!</h1>
      <!-- This page uses basic "Card" objects made with bootstrap to creat a clean content section for my projects-->
              <div class="card-deck">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./images/simpleHomes.png" style="height:150px;object-fit: fill;">
                <div class="card-body">
                  <h5 class="card-title">Simple Homes Real Estate</h5>
                  <p class="card-text">This project was my first proper website with a purpose, in my third semester in my web development 
                    course we were tasked with creating a real estate website, throughout this project I learned many things. Working with three
                  other people I learned that effective communication goes a long way. We made the website in PHP and backed it with a PostgreSQL
                 database. In the end we made a fully functional real estate website with randomly generated listings and the ability
                 to log in and out as a client, admin or retailer. We also integrated user interfaces for specific users allowing them to favourite
                listings and allowing the retailers to access a panel for thier listings, we also gave an interface for admin users to hide listings.
                Lastly we added the ability for users to searh listings and filter criteria then displaying to them paginated listings with preview information and pictures
                 My role in this project was dependent on the week, I wanted to get involved in every aspect but that was not possible as there is a lot
                that went into this website. However, I still majorly contributed to keeping us on track and developing many pages on the site.</p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./images/durak.png" style="height:150px;object-fit: fill;">
                <div class="card-body">
                  <h5 class="card-title">Durak</h5>
                  <p class="card-text">This project is another group project, four of us in total over the course of a semester 
                    replicated the russian card game known as "Durak" in a windows form application using c# and implementing
                    core object oriented programming concepts. We managed to create a fully functional and nice looking game in the end.
                    Our application is user friendly and lets you pick an AI difficulty if you are up to the challange. We utilized class libraries 
                    for our card objects and made a custom form object for the cards. We also made classes implementing Durak gameplay logic keeping
                    our project organized. </p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./images/ingramColleges.png" style="height:150px;object-fit: fill;">
                <div class="card-body">
                  <h5 class="card-title">Ingram College</h5>
                  <p class="card-text">Another website I created, however this one was an individual
                     effort but once again for my web development course this time in my forth semester. Using Java and JSP I 
                    created a basic college like webpage with login and logout functionality backed completely with a multitude of java classes
                    connected to a fully functional database. This site never got to be completed fully due to the courses content
                    switching to online mid semester. The project as a whole taught me how to use Java in a website environment and how to make a website
                    with JSP.
                     </p>
                </div>
              </div>

            </div>
          </div>
    </div>
</div>
